.navbar.navbar-dark.navbar-expand-md.fixed-top.bg-dark {
  background-color: #000!important;
  /*opacity: 0.8;*/
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 13px;
}

.navbar-dark .navbar-nav .nav-link .logo {
  font-size: 21px;
  line-height: 0;
}

.navbar.navbar-dark.navbar-expand-md.fixed-top.bg-dark {
  background-color: #000000 !important;
  opacity: 0.8;
}

.navbar-dark .navbar-nav .nav-link .logo {
  font-size: 21px;
  line-height: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 13px;
}

.navbar-toggler {
  padding: 0;
  font-size: 1.25rem;
  line-height: 1;
  border: 0;
  border-radius: 0;
}

.navbar-dark .navbar-toggler-icon {
  background-image: none;
  line-height: 2rem;
}

.rainbow-border {
  animation: rainbow-border 3s linear infinite;
}

.rainbow-border1 {
  animation: rainbow-border 2.5s linear infinite;
}

.rainbow-heading {
  background: linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 165, 0, 1), rgba(255, 255, 0, 1), rgba(0, 128, 0, 1), rgba(0, 0, 255, 1), rgba(75, 0, 130, 1), rgba(238, 130, 238, 1));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow-heading 5s linear infinite;
}

@keyframes rainbow-heading {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 10%;
  }
}

@media (max-width: 576px) {
  #menu {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 576px) {
  #menu li a {
    font-size: 17px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
}

@keyframes rainbow-border {
  0% {
    border: 2px solid rgba(255, 0, 0, 1);
  }
  16.6% {
    border: 2px solid rgba(255, 165, 0, 1);
  }
  33.3% {
    border: 2px solid rgba(255, 255, 0, 1);
  }
  50% {
    border: 2px solid rgba(0, 128, 0, 1);
  }
  66.6% {
    border: 2px solid rgba(0, 0, 255, 1);
  }
  83.3% {
    border: 2px solid rgba(75, 0, 130, 1);
  }
  100% {
    border: 2px solid rgba(238, 130, 238, 1);
  }
}

